body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family:'Rsu webfont', sans-serif;
  color: #ffc600;
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  text-align: center;
}
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
}
a {
  display: block;
  color: white;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
.web-body {
  background-color: black;
  background-image: url('../images/bg.jpg');
  background-position: 50% 0px;
}
.bar-head {
  height: 40px;
  background-color: #0b2236;
}
.sp-call {
  display: inline-block;
  margin-right: 25px;
  float: left;
}
.sp-i {
  display: inline-block;
  height: auto;
  margin-top: -2px;
  margin-right: 15px;
  font-family: Fontawesome, sans-serif;
  color: #3ad606;
  font-size: 22px;
  line-height: 40px;
}
.sp-text {
  display: inline-block;
  font-family:'Rsu webfont', sans-serif;
  color: white;
  font-size: 16px;
  line-height: 40px;
}
.sp-lang {
  display: inline-block;
  float: right;
  line-height: 40px;
}
.sp-lang-item {
  margin-right: 0px;
  margin-left: 10px;
}
.banner-top {
  margin-bottom: 30px;
}
.logo {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: Lato, sans-serif;
  color: #ff9a03;
  font-size: 30px;
  text-align: center;
  text-shadow: rgba(114, 125, 125, 0.2) 0px 1px 0px;
}
.king-nav-bar {
  height: 115px;
  background-image: url('../images/nav-bar.png');
  background-position: 0% 0%;
  background-size: auto;
  text-align: center;
}
.nav-item {
  display: inline;
  padding-right: 40px;
  padding-left: 40px;
  border-right: 2px solid #194578;
  font-family:'Rsu webfont', sans-serif;
  color: white;
  font-size: 18px;
  line-height: 107px;
  font-weight: 400;
  text-decoration: none;
}
.nav-item.nav-item-last {
  border-right-style: none;
}
.search-top {
  position: relative;
  border-bottom: 1px none #005c91;
}
.head-web {
  font-family:'Rsu webfont', sans-serif;
  color: #cde8fa;
  text-align: center;
}
.space-hr {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/space-hr.png');
}
.intro-web {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family:'Rsu webfont', sans-serif;
  color: #c1d2f7;
  font-size: 25px;
  text-align: center;
}
.span-hl {
  color: #e3774f;
}
.digit-search {
  margin-top: 0px;
  text-align: center;
}
.txt-digit {
  display: inline-block;
  width: 49px;
  height: 55px;
  margin-right: 15px;
  border-style: none;
  background-color: transparent;
  background-image: url('../images/txt-digit.png');
  font-family: Lato, sans-serif;
  color: white;
  font-size: 33px;
  font-weight: 900;
  text-align: center;
}
.space-digit {
  margin-top: -6px;
  margin-right: 10px;
}
.div-iphone {
  display: block;
  margin-top: -49px;
  margin-right: auto;
  margin-left: auto;
}
.bg-search-top {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.con-search-top {
  position: relative;
  z-index: 1;
}
.top-search-btn {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 175px;
  display: block;
  width: 288px;
  height: 57px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/top-search-btn.png');
  color: white;
}
.body-section {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
}
.body-section.cat-sec {
  min-height: 800px;
}
.body-section.cart-sec {
  background-image: url('../images/01.png');
  background-position: 0px 0px;
  background-size: cover;
}
.box-feaure-num {
  margin-bottom: 20px;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  border: 1px solid #0092cc;
  background-color: rgba(10, 72, 122, 0.4);
}
.box-feaure-num.cart-box {
  border-style: none;
  border-bottom-width: 1px;
  border-bottom-color: black;
  background-color: transparent;
}
.img-feature-num {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.title-feature-num {
  margin-top: 0px;
  font-family:'Rsu webfont', sans-serif;
  color: #e1a71c;
  font-size: 28px;
  line-height: 28px;
}
.dtl-feature-num {
  overflow-x: hidden;
  overflow-y: hidden;
  max-height: 82px;
  margin-top: 5px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: white;
  font-size: 14px;
  line-height: 28px;
}
.price-box-feaure-num {
  display: block;
  width: 93px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #0284b0;
  background-color: rgba(6, 50, 79, 0.4);
}
.txt-price-feature {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family:'Rsu webfont', sans-serif;
  color: white;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}
.shop-btn {
  display: block;
  width: 118px;
  height: 38px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/shop-btn.png');
}
.box-search2 {
  position: static;
  display: block;
  width: 300px;
  height: 470px;
  margin: 0px auto 34px;
  padding-right: 30px;
  padding-left: 30px;
  background-image: url('../images/box-search-2.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.box-search-title {
  display: inline-block;
  margin: 19px auto 38px;
  font-family:'Rsu webfont', sans-serif;
  color: white;
  font-size: 20px;
  text-align: center;
}
.txt-search2 {
  margin-right: 0px;
  border: 1px solid #15509e;
  border-radius: 5px;
  background-color: #092134;
  font-family:'Rsu webfont', sans-serif;
  color: #adacac;
  text-align: left;
}
.rd-search2 {
  font-family:'Rsu webfont', sans-serif;
  color: white;
}
.rd-block {
  display: inline-block;
  margin-right: 10px;
  margin-left: 0px;
  padding-left: 0px;
}
.area-rd {
  margin-bottom: 14px;
  text-align: center;
}
.rd-check {
  display: inline-block;
  margin-right: 10px;
  margin-left: 0px;
  float: none;
}
.area-digit {
  float: none;
}
.digit-btn-sel {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #002d42;
  text-decoration: none;
}
.digit-btn-sel:hover {
  color: white;
}
.submit-searc2 {
  display: block;
  width: 137px;
  height: 50px;
  margin-top: 22px;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  background-image: url('../images/submit-search2.png');
}
.shop-feature {
  display: block;
  width: 300px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}
.shop-feature-head {
  margin-bottom: 20px;
  font-family:'Rsu webfont', sans-serif;
  color: white;
  font-size: 20px;
}
.shop-feature-item {
  position: relative;
  display: block;
  height: 50px;
  margin-bottom: 10px;
  padding: 7px 20px 0px 65px;
  background-color: rgba(5, 96, 170, 0.4);
  color: white;
}
.shop-feature-img {
  position: absolute;
  left: 0px;
  top: 0px;
}
.shop-feature-title {
  margin-top: 0px;
  font-family:'Rsu webfont', sans-serif;
  font-size: 13px;
}
.box-rank {
  display: block;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  background-image: url('../images/box-search-2.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.box-rank.box-rank-kai {
  margin-top: 20px;
}
.box-lank-title {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 39px;
  font-family:'Rsu webfont', sans-serif;
  color: white;
  font-size: 20px;
}
.box-rank-item {
  position: relative;
  height: 55px;
  margin-right: 0px;
  margin-bottom: 10px;
  padding-left: 90px;
}
.box-rank-img {
  position: absolute;
  left: 0px;
  top: 0px;
}
.box-rank-name {
  font-family:'Rsu webfont', sans-serif;
  color: white;
  font-size: 20px;
  line-height: 55px;
  text-transform: uppercase;
}
.footer-section {
  padding-top: 30px;
  background-color: rgba(12, 53, 82, 0.4);
}
.footer-contact {
  margin-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #004e73;
  font-family:'Rsu webfont', sans-serif;
  color: white;
  font-size: 17px;
  line-height: 27px;
  font-weight: 400;
  text-align: center;
}
.footer-menu {
  margin-top: 21px;
  font-family:'Rsu webfont', sans-serif;
  color: #a8c2e0;
  text-align: center;
}
.fbb {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.footer-logo {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.copyright {
  height: 48px;
  margin-top: 16px;
  background-color: rgba(8, 83, 133, 0.4);
  color: #6885a3;
  text-align: center;
}
.txt-cpr {
  font-family:'Rsu webfont', sans-serif;
  line-height: 48px;
}
.section-search {
  position: relative;
  display: block;
  height: 130px;
  padding-top: 29px;
  background-image: url('../images/bg-bars.png');
  background-position: 50% 0px;
  background-size: contain;
  background-repeat: no-repeat;
}
.cat-bar {
  text-align: center;
}
.cat-bar-ln {
  text-decoration: none;
}
.cat-bar-txt {
  margin-top: 10px;
  text-decoration: none;
}
.section-panel-search {
  position: relative;
  margin-bottom: 50px;
}
.text-lbl-head-search {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family:'Rsu webfont', sans-serif;
  color: white;
  font-size: 24px;
  text-align: center;
}
.tri-cat-bar-eff {
  position: absolute;
  left: 0px;
  top: -89px;
  right: 0px;
  bottom: 0px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.text-head-feature-home {
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  font-size: 24px;
  text-align: center;
}
.top-logo {
  display: block;
  margin: 10px auto;
  text-align: center;
}
.webname {
  margin-top: 10px;
  font-family:'Rsu webfont', sans-serif;
  color: white;
  font-size: 18px;
  text-align: center;
}
.sp-account {
  display: inline-block;
  margin-top: 11px;
  float: right;
}
.sp-acc-a {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  font-family: Fontawesome, sans-serif;
  text-decoration: none;
}
.result-section {
  margin-top: -29px;
  background-image: url('../images/Layer-42.jpg');
  background-position: 50% 0px;
  background-size: cover;
}
.re-head-top {
  margin-top: 39px;
  font-size: 28px;
}
.re-digit-bk {
  height: 140px;
  border: 1px solid #414141;
  background-color: #042d48;
  box-shadow: black 1px 1px 3px 0px;
  font-family:'Rsu webfont', sans-serif;
  color: white;
  font-size: 60px;
  line-height: 140px;
  text-align: center;
}
.digit-bk-num {
  text-shadow: gray 1px 1px 11px;
}
.digit-bk-num.red {
  color: red;
}
.digit-bk-num.green {
  color: #4ef500;
}
.re-panel-txt {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 140px;
  padding: 20px;
  border: 1px solid #3c0f85;
  background-color: #21192a;
}
.title-re-page-box {
  margin-bottom: 10px;
  color: #ffc600;
  font-size: 16px;
}
.dtl-re-page-box {
  color: white;
}
.row-re-list {
  margin-bottom: 40px;
}
.bx-cat-page {
  position: relative;
  float: left;
}
.bx-cat-thumb {
  position: relative;
  display: block;
  float: left;
}
.ico-cat-main {
  position: absolute;
  left: 0px;
  top: 30px;
  right: 0px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.bg-cat-main {
  position: absolute;
}
.text0-ico-cat {
  position: absolute;
  left: 0px;
  top: 162px;
  right: 0px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-family:'Rsu webfont', sans-serif;
  color: white;
  font-size: 20px;
  text-align: center;
}
.sub-cat-list {
  position: relative;
}
.dtl-sub-list {
  margin-top: 10px;
  color: white;
}
.col-sub-bg {
  margin-bottom: 20px;
}
.ico-sub-list {
  position: absolute;
  left: 50%;
  top: 27px;
  display: block;
  margin-left: -64px;
}
.txt-sub-list {
  position: absolute;
  left: 0px;
  top: 169px;
  right: 0px;
  font-family:'Rsu webfont', sans-serif;
  color: white;
  font-size: 20px;
  text-align: center;
}
.cat-dtl-head {
  position: relative;
}
.cat-dtl-head-col {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
}
.head-cdtail-ico {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.head-cdetail-text {
  margin-top: 8px;
  font-family:'Rsu webfont', sans-serif;
  color: white;
  font-size: 19px;
  text-align: center;
}
.right-top-cdetail {
  position: static;
  margin-top: 0px;
  margin-bottom: 50px;
  padding-top: 50px;
}
.dtl-right-cdetail-txt {
  font-family:'Rsu webfont', sans-serif;
  color: white;
  font-size: 18px;
  line-height: 32px;
}
.row-content-cdetail {
  margin-top: 30px;
}
.thumb-vdo {
  position: relative;
  border: 1px solid #2195ff;
}
.thumb-vdo-bg {
  display: block;
}
.thumb-player {
  position: absolute;
  left: 50%;
  top: 50%;
  right: 0px;
  margin-top: -33px;
  margin-left: -47px;
}
.vdo-dtl-panel {
  position: relative;
  margin-top: 30px;
  padding: 30px 10px 10px;
  background-color: #121c2b;
}
.vdo-dtl-text {
  color: white;
  text-align: justify;
  text-indent: 50px;
}
.ico-qou {
  position: absolute;
  left: 13px;
  top: 9px;
  right: 0px;
}
.cart-sec {
  display: inline-block;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  background-image: url('../images/01.png');
  background-position: 0px 0px;
  background-size: cover;
}
.h-cart {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 20px;
  color: #00b4ff;
  font-size: 24px;
  text-align: left;
}
.step-cart-list {
  margin-bottom: 30px;
}
.step-cart-list.col-step {
  padding: 0px 20px;
  font-family:'Rsu webfont', sans-serif;
  color: #666;
  line-height: 50px;
}
.step-cart-list.col-step.active {
  color: #00b4ff;
}
.step-num {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border: 3px solid #666;
  font-family:'Rsu webfont', sans-serif;
  color: #666;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
}
.step-num.active {
  border-color: #00b4ff;
  color: #00b4ff;
}
.step-text {
  display: inline-block;
  font-family:'Rsu webfont', sans-serif;
  color: #666;
}
.step-text.active {
  color: #00b4ff;
}
.label-state {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  font-family:'Rsu webfont', sans-serif;
  color: #ccc;
}
.frm-k {
  font-family:'Rsu webfont', sans-serif;
}
.frm-k.lbl {
  color: #ccc;
  text-align: right;
}
.frm-row {
  height: 50px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  float: none;
  line-height: 38px;
}
.txt-frm-k {
  width: 80%;
  border: 1px solid #5b5b5b;
  background-color: #1c2b35;
}
.txt-frm-k.lg-page {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.btn-back-cart {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px 20px;
  background-image: -webkit-linear-gradient(bottom, #515151, #323232);
  background-image: linear-gradient(to top, #515151, #323232);
  box-shadow: black 1px 1px 3px 0px;
  font-family:'Rsu webfont', sans-serif;
  text-decoration: none;
}
.btn-back-cart.btn-cart-next {
  margin-left: 22px;
  padding-right: 40px;
  padding-left: 40px;
  background-image: -webkit-linear-gradient(bottom, #0f9ada 1%, #0076ad);
  background-image: linear-gradient(to top, #0f9ada 1%, #0076ad);
}
.btn-back-cart.btn-cart-next.lg-age {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.frm-warp {
  margin-bottom: 0px;
  padding-bottom: 44px;
}
.rd-k {
  display: inline-block;
  margin-top: 8px;
  margin-right: 20px;
  font-family:'Rsu webfont', sans-serif;
  color: #ccc;
  line-height: 18px;
}
.pay-form {
  padding-bottom: 48px;
}
.rd-pay-form {
  margin-bottom: 20px;
  padding-left: 20px;
  color: #ccc;
}
.bank-text {
  margin-top: 15px;
  color: #ccc;
  line-height: 25px;
}
.row-bank {
  margin-bottom: 20px;
}
.text-th {
  font-family:'Rsu webfont', sans-serif;
  color: #ccc;
  font-size: 16px;
}
.row-con-mid {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.col-con-mid {
  height: 120px;
  line-height: 120px;
}
.col-th-mid {
  padding-top: 10px;
  padding-bottom: 10px;
}
.cart-order-num {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  float: none;
  color: white;
  font-size: 27px;
}
.ordernum-cart {
  color: #0d97d7;
}
.addr-block {
  margin-bottom: 10px;
}
.lbl-addr {
  font-family:'Rsu webfont', sans-serif;
  color: #0d97d7;
  text-align: right;
}
.lbl-addr-value {
  font-family:'Rsu webfont', sans-serif;
  color: white;
}
.addr-panel {
  margin-top: 20px;
  margin-bottom: 20px;
}
.panel-regis {
  font-family:'Rsu webfont', sans-serif;
}
.txt-head-panel {
  margin-top: 50px;
  margin-bottom: 30px;
  color: white;
  font-size: 26px;
  text-align: center;
}
.fb-btn {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.btn-forgot {
  display: block;
  width: 80%;
  margin-top: 8px;
  margin-right: auto;
  margin-left: auto;
  color: #ccc;
  text-align: right;
}
html.w-mod-js *[data-ix="top-20"] {
  opacity: 0.35;
  -webkit-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate(0px, 100px);
}
html.w-mod-js *[data-ix="iphone"] {
  opacity: 0.35;
  -webkit-transform: translate(0px, -200px) scale(0.63);
  -ms-transform: translate(0px, -200px) scale(0.63);
  transform: translate(0px, -200px) scale(0.63);
}
html.w-mod-js *[data-ix="fade"] {
  opacity: 0;
}
html.w-mod-js *[data-ix="new-interaction"] {
  opacity: 0.07;
  -webkit-transform: translate(0px, 20px);
  -ms-transform: translate(0px, 20px);
  transform: translate(0px, 20px);
}
html.w-mod-js *[data-ix="top-nid"] {
  opacity: 0.38;
  -webkit-transform: translate(0px, 20px);
  -ms-transform: translate(0px, 20px);
  transform: translate(0px, 20px);
}
@media (max-width: 991px) {
  .king-nav-bar {
    height: 90px;
    background-size: contain;
  }
  .nav-item {
    font-size: 16px;
    line-height: 87px;
  }
  .div-iphone {
    margin-top: -16px;
  }
  .top-search-btn {
    bottom: 122px;
    margin-top: 0px;
  }
  .box-feaure-num {
    margin-bottom: 20px;
    padding-right: 10px;
  }
  .title-feature-num {
    font-size: 25px;
    line-height: 25px;
  }
  .dtl-feature-num {
    overflow-x: hidden;
    overflow-y: hidden;
    max-height: 73px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 21px;
  }
  .txt-price-feature {
    display: block;
  }
  .shop-btn {
    width: 118px;
    height: 39px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .box-rank-name {
    font-size: 17px;
  }
  .footer-contact {
    font-size: 15px;
    line-height: 22px;
  }
  .footer-menu {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .sp-i {
    margin-left: 13px;
  }
  .sp-lang {
    margin-right: 13px;
  }
  .king-nav-bar {
    height: 70px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  .nav-item {
    font-size: 13px;
    line-height: 67px;
  }
  .head-web {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 28px;
  }
  .intro-web {
    font-size: 19px;
  }
  .txt-digit {
    width: 39px;
    height: 45px;
    margin-right: 10px;
    background-size: contain;
    font-size: 25px;
  }
  .space-digit {
    display: inline-block;
  }
  .div-iphone {
    display: block;
    margin-top: -4px;
  }
  .bg-search-top {
    display: block;
  }
  .top-search-btn {
    bottom: 112px;
    width: 288px;
  }
  .body-section {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .box-feaure-num {
    padding-right: 0px;
  }
  .img-feature-num {
    width: 82px;
  }
  .title-feature-num {
    text-align: center;
  }
  .dtl-feature-num {
    margin-right: 0px;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
  }
  .price-box-feaure-num {
    position: relative;
    display: inline-block;
    height: 38px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .txt-price-feature {
    position: absolute;
    left: 0px;
    right: 0px;
    display: inline-block;
    margin-top: 0px;
    margin-right: 0px;
    padding-right: 0px;
    line-height: 19px;
  }
  .shop-btn {
    display: inline-block;
    margin-right: 0px;
    margin-left: 28px;
  }
  .col-sm-feature-bb {
    text-align: center;
  }
  .span-hide {
    display: none;
  }
  .shop-feature {
    width: 300px;
  }
  .footer-contact {
    display: block;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 479px) {
  a {
    font-family: Fontawesome, sans-serif;
  }
  .sp-i {
    display: none;
    font-size: 16px;
  }
  .sp-text {
    margin-left: 15px;
    font-size: 11px;
  }
  .sp-lang {
    display: none;
    margin-right: 10px;
  }
  .logo {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 21px;
  }
  .king-nav-bar {
    display: none;
  }
  .head-web {
    font-size: 19px;
    line-height: 18px;
  }
  .space-hr {
    margin-bottom: 17px;
  }
  .intro-web {
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
  }
  .txt-digit {
    width: 27px;
    height: 30px;
    margin-right: 2px;
    margin-left: 2px;
    padding: 0px;
    font-family:'Rsu webfont', sans-serif;
    font-size: 18px;
  }
  .space-digit {
    display: none;
  }
  .div-iphone {
    display: none;
  }
  .bg-search-top {
    display: none;
  }
  .con-search-top {
    height: auto;
  }
  .top-search-btn {
    position: static;
    bottom: 179px;
    width: 200px;
    height: 43px;
    margin-top: 0px;
    background-size: contain;
  }
  .sp-nav-mobile {
    display: inline-block;
    margin-right: 12px;
    float: right;
    color: white;
    font-size: 21px;
    line-height: 40px;
    text-align: left;
  }
  .sp-nav-mobile-a {
    color: white;
    font-style: normal;
    text-decoration: none;
  }
  .body-section {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .box-feaure-num {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .img-feature-num {
    width: 75px;
    margin-bottom: 5px;
  }
  .title-feature-num {
    font-size: 20px;
    line-height: 23px;
  }
  .dtl-feature-num {
    max-height: 71px;
    margin-right: 0px;
    margin-bottom: 15px;
    text-align: center;
  }
  .price-box-feaure-num {
    width: 93px;
    height: 31px;
  }
  .txt-price-feature {
    margin-right: 0px;
  }
  .shop-btn {
    display: block;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    padding-left: 0px;
  }
  .col-sm-feature-bb {
    position: static;
    display: block;
    margin-right: 0px;
    margin-left: 0px;
  }
  .span-hide {
    display: none;
  }
  .shop-feature {
    width: 300px;
  }
  .footer-contact {
    margin-top: 25px;
  }
  .footer-menu {
    margin-top: 10px;
    margin-bottom: 27px;
  }
  .txt-cpr {
    font-size: 11px;
  }
}

@font-face {
  font-family: 'Fontawesome webfont';
  src: url('../fonts/fontawesome-webfont.woff2') format('undefined'), url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Rsu webfont';
  src: url('../fonts/rsu_bold-webfont.woff2') format('undefined'), url('../fonts/rsu_bold-webfont.eot') format('embedded-opentype'), url('../fonts/rsu_bold-webfont.woff') format('woff'), url('../fonts/rsu_bold-webfont.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Rsu webfont';
  src: url('../fonts/rsu_regular-webfont.woff2') format('undefined'), url('../fonts/rsu_regular-webfont.eot') format('embedded-opentype'), url('../fonts/rsu_regular-webfont.woff') format('woff'), url('../fonts/rsu_regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fontawesome';
  src: url('../fonts/FontAwesome.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}